.featured-slider{
    padding-top: 70px;
    padding-bottom: 70px;
}
.recomended-header h2{
    font-weight: 600;
    font-family: Poppins,sans-serif;
    font-size: 2.25rem;
    color: #1a1668;
    font-weight: 600;
    line-height: 1.4;
}
.recomended-header p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center
}
.feat-item{
    display: flex!important;

}
.singleProductPage-info{
    margin: auto;
    text-align: center;
    padding: 20px
}
.featured-desc{
    padding: 20px;
}
.feat-item img{
    border-radius: 6px;
    min-height: 335px;
    height: 470px;
    width: 100%;

}
.feat-item h6{
    font-weight: 300;
    letter-spacing: 20px;
    font-size: 1.125rem;
    color: #1a1668;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    line-height: 1.4;

}
.feat-item h3{
    font-size: 60px;
    font-size: 2.625rem;
    color: #1a1668;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    line-height: 1.4;
}
.feat-item ul{
    display: flex;
    text-align: center;
}
.feat-item li{
    color: #1a1668;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 25px;

}
.feat-item p{
    border-left: 1px solid #3b2f4a;
    margin: 40px 0;
    padding-left: 30px;
}
.feat-item .price-info{
    display: flex;
    align-items: center;
}
.feat-item .price-info .price{
    color: #1a1668;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.feat-item .price-info .del{
    color: #eaa451;
    font-size: 22px;

}
.feat-item .price-info .discount{
    background-color: #f0f0f0;
    color: #131045;
    font-size: 14px;
    font-weight: 600;

}
.feat-item .buy-btn{
    background-color: #eaa451;
    border-color: #eaa451;

    border-radius: 6px;
    color: #fff;
    padding: 13px 26px;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 15px;
}
.feat-item .details-btn{
    border-radius: 6px;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding: 12.5px 20px;
    color: #fff;
    margin-top: 15px;
}
.feat-item .details-btn a{
    text-decoration: none;
    color: #fff;
}
/* Media */
@media only screen and (max-width: 970px) {
    .feat-item h3{
        font-size: 34px;
    }
}